.jumbotron{
    text-align: center;
    font-family: 'comic', sans-serif;
    color: rgb(134, 236, 49);
    background: linear-gradient(to bottom, #2c2c2c 0%, #b9bdb5 100%);
}


.listbtn{
    background-color:  #b9bdb5 100%);
    color:  black 100%);
}


.left_div{
    background-color: rgb(245, 245, 245); 
    height: 100%; 
}

.card-body{
    background-color: rgb(134, 236, 49);
    color: white;
    width: auto;
}
